<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>
    <div class="main-container">
      <form name="form1" method="POST" action="/login/admin">
        <table>
          <tr>
            <td>Admin Board</td>
            <td class="button" colspan="2">
              <input type="submit" value="Add Member" />
            </td>
          </tr>
        </table>
      </form>
      <hr />

      <table>
        <tr>
          <td>Player Name</td>
          <td>Total Match</td>
          <td>Win</td>
        </tr>
        <% for(let i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].name %></td>
          <td><%= data[i].matchPlayed %></td>
          <td><%= data[i].win %></td>
          <td>
            <% let val = JSON.stringify(data) %>
            <input
              type="submit"
              value="Win"
              onclick="clickMe(<%=val%>,<%=i%>,'win')"
            />
          </td>
          <td>
            <input
              type="submit"
              value="Loose"
              onclick="clickMe(<%=val%>,<%=i%>,'loose')"
            />
          </td>
        </tr>
        <% } %>
      </table>
    </div>
    <script>
      function clickMe(data, i, type) {
        if (type === 'win') {
          data[i].win = data[i].win + 1;
          data[i].matchPlayed += 1;
        } else if (type === 'loose') {
          data[i].matchPlayed += 1;
        }

        fetch('/login/admin/addMember/1', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        }).then(location.reload());
      }
    </script>
  </body>
</html>
